<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WITimes</title>
<!-- CSS stylesheets -->
<!-- CSS only -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<!-- font awesome -->
<script src="https://kit.fontawesome.com/ae06420b2e.js" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,900;1,400&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
<!-- jquery,javascript -->
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</head>
<body>
  <!--navbar section -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">WITimes</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bottom-card">Student LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login1">Faculty Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<br>
<div class="image">
</div>
<!-- header section -->



<!--container section -->
   <div class="container1">
    </div>
    <div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
      <div class="ticker-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="ticker-item">Aliquam consequat varius consequat.</div>
      <div class="ticker-item">Fusce dapibus turpis vel nisi malesuada sollicitudin.</div>
      <div class="ticker-item">Pellentesque auctor molestie orci ut blandit.</div>
    </div>
  </div>
</div>

<!--top-card section -->
<section id="top-card">
<div class="row">
  <div class='card-column col-lg-3 col-md-4 col-sm-6'>
    <div class='card'>
      <div class='card-body'>
        <img class="icon" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/230/male-teacher-type-4_1f468-1f3fd-200d-1f3eb.png" width="50px" height="50px;">
            <h3  class="heading-text">Certified Teachers</h3>
            <p class='para-text'>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic</p>
      </div>
    </div>
  </div>
  <div class='card-column col-lg-3 col-md-4 col-sm-6'>
    <div class='card'>
      <div class='card-body'>
        <img class="icon" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/samsung/265/person-playing-handball_1f93e.png" width="50px" height="50px">
        <h3 class="heading-text">Sport Clubs</h3>
        <p class='para-text'>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
      </div>
    </div>
  </div>
  <div class='card-column col-lg-3 col-md-4 col-sm-6'>
    <div class='card'>
      <div class='card-body'>
          <img class="icon" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/1st-place-medal_1f947.png" width="50px" height="50px">
          <h3  class="heading-text">Special Education</h3>
          <p class='para-text'>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
      </div>
    </div>
  </div>
<div class='card-column col-lg-3 col-md-4 col-sm-6'>
  <div class='card'>
    <div class='card-body'>
      <img class="icon" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/65/books_1f4da.png" width="50px" height="50px">
      <h3  class="heading-text">Book & Library</h3>
      <p class='para-text'>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
    </div>
  </div>
</div>
</div>
</section>

<!-- testimonial section -->
 <section class="colored-section" id="testimonials">
	    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
	      <div class="carousel-inner">
	        <div class="carousel-item active container-fluid">
	          <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
	          <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile">
	          <em>Pebbles, New York</em>
	        </div>
	        <div class="carousel-item container-fluid">
	          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
	          <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
	          <em>Beverly, Illinois</em>
	        </div>
	      </div>
	      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
	        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      </a>
	      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
	        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      </a>
	    </div>
	  </section>

<!--bottom-cards-->
<section id="bottom-card">
<div class="row">
  <div class='card-column col-lg-2 col-md-3 col-sm-12'>
    <div class='card'>
      <div class='card-body'>
      <a href="/login"><img class="Img"src="http://careertodayindia.com/wp-content/uploads/2018/03/Electronics-Engineering.jpg" alt="Avatar" style="width:100%" />
	      <h3 class="heading-text">E.E</h3></a>
      </div>
    </div>
  </div>
  <div class='card-column col-lg-2 col-md-3 col-sm-12'>
    <div class='card'>
      <div class='card-body'>
        <a href="/login"> <img class="Img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7PanLxfq0wCQcFaddkc__TPqbdKl6eCU3FA&usqp=CAU" alt="Avatar" style="width:100%">
		<h3 class="heading-text">C.S.E</h3></a>
      </div>
    </div>
  </div>
  <div class='card-column col-lg-2 col-md-3 col-sm-12'>
    <div class='card'>
      <div class='card-body'>
        <a href="/login"> <img  class="Img"src="https://i.pinimg.com/736x/33/e3/f7/33e3f7fafeeaef1dfc4b481be2dc52ac.jpg" alt="Avatar" style="width:100%;">
		<h3  class="heading-text">M.E</h3></a>
      </div>
    </div>
  </div>
<div class='card-column col-lg-2 col-md-3 col-sm-12'>
  <div class='card'>
    <div class='card-body'>
       <a href="/login"><img class="Img"src="https://i.pinimg.com/originals/9f/1a/86/9f1a86a3aab3064768fa2d80bdc8689f.png" alt="Avatar" style="width:100%">
	       <h3  class="heading-text">C.E</h3></a>
    </div>
  </div>
</div>
<div class='card-column col-lg-2 col-md-3 col-sm-12'>
  <div class='card'>
    <div class='card-body'>
       <a href="/login"><img class="Img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7c3EXm5Yudgx1wa4dOhvlhHpBSByb2xkohA&usqp=CAU" alt="Avatar" style="width:100%">
	       <h3  class="heading-text">IT</h3></a>
    </div>
  </div>
</div>
<div class='card-column col-lg-2 col-md-3 col-sm-12'>
  <div class='card'>
    <div class='card-body'>
       <a href="/login"><img  class="Img" src="https://i.ibb.co/NnQ7Sjf/electronics.jpg" alt="electronics"style="width:100%">
	       <h3  class="heading-text">ENTC</h3></a>
    </div>
  </div>
</div>
</div>
</section>
    
<div id="about">
  <h2>About US</h2>
        <h5> Our college has various cells and these 
        cells conduct various events throughout the year. The notices about these cells don’t not reach 
        to the students sometimes. It is a very tedious job to send this notice to all the branches and 
        then pin it to their notice boards. Our college has various cells and these cells conduct various events throughout the year. The notices about these cells don’t not reach 
        to the students sometimes. It is a very tedious job to send this notice to all the branches and 
        then pin it to their notice boards</h5>
    <br>
    <h2>Contact us</h2>
    <br>
    <ul>
      <h5><li><i class="fa fa-map-marker "></i>&nbspP.B.No.634, Walchand Hirachand Marg,

        Ashok Chowk, Solapur - 413006 (Maharashtra)</li></h5>
        <br>

     <h5><li><i class="fa fa-envelope" aria-hidden="true"></i> <span>&nbsp  principal@witsolapur.org
        principal.witsolapur@gmail.com</span></li></h5> 
        <br>

      <h5><li><i class="fa fa-phone "></i><span>&nbsp (0217)2652700, 2653040, 2391700</span></li></h5>
    </ul>
    <br>
    <a class="social-icon"href="#"><i class="fa fa-envelope fa-2x"></i></a>
    <a class="social-icon"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="social-icon"><i class="fab fa-facebook-f fa-2x"></i></a>
    <a class="social-icon"><i class="fa fa-instagram fa-2x"></i></a>
    <br>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
 <script src="test-slider-fullwidth.js"></script>
</body>
</html>