@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  margin-top: 38px;
  left: -250px;
  width: 250px;
  height: 100%;
  background:#e1e5ea;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color:black;
  line-height: 70px;
  text-align: center;
  background:  #e1e5ea;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color:  black;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(175, 175, 175, 0.938);
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s ease;
}
ul li:hover a{
  padding-left: 50px;
  text-decoration: none;
  background-color: white;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  position: fixed;
  right: 8%;
  top: 20px;
  font-size: 15px;
  color: white;
  padding: 6px 12px;
  transition: all .7s;
}
label #cancel{
  position: fixed;
  z-index: 1111;
  left: -195px;
  top: 85px;
  font-size: 15px;
  color:white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  right: 0px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .7s;
}


.navbar-nav a {
  padding: 5px 10px;
  margin: 7px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
  }
  .navbar-light {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  }
  
  .navbar-nav {
  text-align: center;
  }
  .nav-link {
  padding: .2rem 1rem;
  }
  .nav-link.active, .nav-link:focus {
  color: #fff;
  }
  .navbar-toggler {
  padding: 1px 5px;
  font-size: 20px;
  line-height: 0.3;
  background: white;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: black;
  }
  
  @media only screen and (max-width: 300px) {
      .navbar-nav.ml-auto {
      background: rgba(0, 0, 0, 0.5);
  }
   
  .navbar-nav a {
      font-size: 20px;
      font-weight: normal;
  }
  }
